WebServiceApp/Service References/ServiceReference2/RoutePlannerServiceImpl1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://api" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://pojo.api" xmlns:impl="http://api" targetNamespace="http://api" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://api">
      <xsd:import namespace="http://pojo.api" />
      <xsd:element name="preparePlan">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="routePoints" type="tns1:RoutePoint" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="preparePlanResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="preparePlanReturn" type="tns1:PathPoint" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://pojo.api">
      <xsd:complexType name="RoutePoint">
        <xsd:sequence>
          <xsd:element name="hide" type="xsd:boolean" />
          <xsd:element name="periodid" type="xsd:int" />
          <xsd:element name="point_Coordinates" nillable="true" type="xsd:string" />
          <xsd:element name="point_Name" nillable="true" type="xsd:string" />
          <xsd:element name="point_Orientation" type="xsd:double" />
          <xsd:element name="point_Speed" type="xsd:double" />
          <xsd:element name="pointid" type="xsd:int" />
          <xsd:element name="preferred_Order" type="xsd:int" />
          <xsd:element name="req_id" type="xsd:int" />
          <xsd:element name="time" nillable="true" type="xsd:string" />
          <xsd:element name="user_Message" nillable="true" type="xsd:string" />
          <xsd:element name="weekday" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PathPoint">
        <xsd:sequence>
          <xsd:element name="error" nillable="true" type="xsd:string" />
          <xsd:element name="hide" nillable="true" type="xsd:string" />
          <xsd:element name="original" type="xsd:boolean" />
          <xsd:element name="original_PO" nillable="true" type="xsd:string" />
          <xsd:element name="periodid" nillable="true" type="xsd:string" />
          <xsd:element name="point_Accl" type="xsd:double" />
          <xsd:element name="point_Coordinates" nillable="true" type="xsd:string" />
          <xsd:element name="point_Name" nillable="true" type="xsd:string" />
          <xsd:element name="point_Orientation" nillable="true" type="xsd:string" />
          <xsd:element name="point_Speed" nillable="true" type="xsd:string" />
          <xsd:element name="point_Steering" type="xsd:double" />
          <xsd:element name="pointid" nillable="true" type="xsd:string" />
          <xsd:element name="preferred_Order" nillable="true" type="xsd:string" />
          <xsd:element name="req_id" type="xsd:int" />
          <xsd:element name="time" nillable="true" type="xsd:string" />
          <xsd:element name="user_Message" nillable="true" type="xsd:string" />
          <xsd:element name="weekday" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="preparePlanRequest">
    <wsdl:part name="parameters" element="impl:preparePlan" />
  </wsdl:message>
  <wsdl:message name="preparePlanResponse">
    <wsdl:part name="parameters" element="impl:preparePlanResponse" />
  </wsdl:message>
  <wsdl:portType name="RoutePlannerServiceImpl">
    <wsdl:operation name="preparePlan">
      <wsdl:input name="preparePlanRequest" message="impl:preparePlanRequest" />
      <wsdl:output name="preparePlanResponse" message="impl:preparePlanResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RoutePlannerServiceImplSoapBinding" type="impl:RoutePlannerServiceImpl">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="preparePlan">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="preparePlanRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="preparePlanResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoutePlannerServiceImplService">
    <wsdl:port name="RoutePlannerServiceImpl" binding="impl:RoutePlannerServiceImplSoapBinding">
      <wsdlsoap:address location="http://localhost:9080/Navigation/services/RoutePlannerServiceImpl" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>